'scopeName': 'text.checklist'
'name': 'Checklist'
'fileTypes': [
  'gitignore'
  'conf'
]
'patterns': [
  {
    'include': '#comment'
  },
  {
      'match': '(\\[ \\])(.*?)((\/\/|#|--\\s|\n).*)',
      'name': 'constant.numeric.integer.hexadecimal.python'
  }
]
'repository':
  'comment':
    'captures':
      '1':
        'name': 'comment.line.number-sign.generic-config'
      '2':
        'name': 'punctuation.definition.comment.generic-config'
      '3':
        'name': 'comment.line.semi-colon.generic-config'
      '4':
        'name': 'punctuation.definition.comment.generic-config'
    'match': '((#).*$\\n?)|((;).*$\\n?)'
